execution_role_arn    = "arn:aws:iam::XXXXX:role/ecsTaskExecutionRole"
environment_tag       = "development"

region                = "us-east-1"

availability_zone_ps1 = "us-east-1a"
availability_zone_ps2 = "us-east-1b"

desired_task_number   = 2
task_cpu              = 256
task_mem              = 512